@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Sans+Pro:wght@100;300;400;500;700;900&family=Vidaloka&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #15154d;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "monospace";
}

section {
  padding: 2rem 5rem;
  scroll-snap-type: mandatory;
  scroll-margin-top: -20px;
}
@media (max-width: 640px) {
  section {
    padding: 1rem;
  }
}
img {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
img:hover {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.h1,
h2,
h3,
h4,
p,
a, button {
  color: white !important;
}
.text-black {
  --tw-text-opacity: 1;
  color: white;
}

.media {
    display: block;
}

.bt-shadow{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 96%) !important;
}

.animated {
  text-decoration-style: solid;
  color: #3de73d;
}
.aniabout{
  text-decoration-line: underline;
}